body {
   box-sizing: border-box;
}

.todo{
   padding: 0 800px 0  800px;
   max-width: 1000px;

}
.add-todo__wrapper{
   display: flex;
   justify-content: space-between;
   outline: 1px solid #000;
   border-radius: 3px;
   width: 450px;
   height: 50px;
}

.input-wrapper{

}

#description-task{
   margin: 15px;
   border: none;
}

#btn{
   font-weight: bold;
   color: white;
   margin: 10px;
   padding: 7px;
   width: 40px;
   background-color: cadetblue;
   border: 2px;
   border-radius: 3px;
}
.todos-wrapper {

}


.todo-item{
   background-color: blue;
   display: flex;
   justify-content: flex-start;
   outline: 1px solid #000;
   border-radius: 3px;
   width: 450px;
   height: 50px;
   margin-bottom:10px;
}


.color-red {
   background-color:red
}



.description{
   color: white;
   margin-top: 15px;
}

.btn__complete{

   margin: 18px;
   border: 20px;
   padding: 5px;
}

.color__change{
   display: flex;
   align-items: center;
   gap: 5px;
}



.checked {
   opacity: 0.7;
   text-decoration: line-through;
}

/*первый инпут*/
.radio1{
   box-sizing: content-box;
   position: relative;
   width: 15px;
   height: 15px;

}

.color-box-wrapper {
   border: 1px solid transparent;
   padding: 4px;
}
.selected-color-box {
   border-color: #f6a002
}
.radio__input1{
   -webkit-appearance: none;
   appearance:none;
   position: absolute;
}
.radio__label1{
   padding-left: 25px;

   font-size: 1rem;
   color: #444;
   cursor: pointer;
}
.radio__label1::before {
   content: "";
   display:block;
   width:16px;
   height: 16px;

   border: 1px solid #ccc;
   background-color: blue;;


   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;

   transition: background .1s linear, border .1s linear;
}
.radio__label1::after{
   content: "";
   display: block;
   height: 12px;
   width: 12px;

   background-color: blue;
   border-radius: 3px;
   opacity: 0;

   position: absolute;
   top: 3px;
   left: 3px;
   z-index: 2;
}

.radio__input1:checked + .radio__label1::before{
   background-color: black;
}
.radio__input1:checked + .radio__label1::after{
   opacity: 1;
}



/*второй инпут*/
.radio2{
   position: relative;
   margin-bottom: 1rem;
}
.radio__input2{
   -webkit-appearance: none;
   appearance:none;
   position: absolute;
}
.radio__label2{
   padding-left: 25px;

   font-size: 1rem;
   color: #444;
   cursor: pointer;
}
.radio__label2::before {
   content: "";
   display:block;
   width:16px;
   height: 16px;

   border: 1px solid #ccc;
   background-color: #ffa400;


   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;

   transition: background .1s linear, border .1s linear;
}
.radio__label2::after{
   content: "";
   display: block;
   height: 12px;
   width: 12px;

   background-color: #ffa400;
   border-radius: 3px;
   opacity: 0;

   position: absolute;
   top: 3px;
   left: 3px;
   z-index: 2;
}

.radio__input2:checked + .radio__label2::before{
   background-color: black;
}
.radio__input2:checked + .radio__label2::after{
   opacity: 1;
}

/*третий инпут*/
.radio3{
   position: relative;
   margin-bottom: 1rem;
}
.radio__input3{
   -webkit-appearance: none;
   appearance:none;
   position: absolute;
}
.radio__label3{
   padding-left: 25px;

   font-size: 1rem;
   color: #444;
   cursor: pointer;
}
.radio__label3::before {
   content: "";
   display:block;
   width:16px;
   height: 16px;

   border: 1px solid #ccc;
   background-color: green;


   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;

   transition: background .1s linear, border .1s linear;
}
.radio__label3::after{
   content: "";
   display: block;
   height: 12px;
   width: 12px;

   background-color: green;
   border-radius: 3px;
   opacity: 0;

   position: absolute;
   top: 3px;
   left: 3px;
   z-index: 2;
}

.radio__input3:checked + .radio__label3::before{
   background-color: black;
}
.radio__input3:checked + .radio__label3::after{
   opacity: 1;
}

/*четвертый инпут*/
.radio4{
   position: relative;
   margin-bottom: 1rem;
}
.radio__input4{
   -webkit-appearance: none;
   appearance:none;
   position: absolute;
}
.radio__label4{
   padding-left: 25px;

   font-size: 1rem;
   color: #444;
   cursor: pointer;
}
.radio__label4::before {
   content: "";
   display:block;
   width:16px;
   height: 16px;

   border: 1px solid #ccc;
   background-color: red;


   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;

   transition: background .1s linear, border .1s linear;
}
.radio__label4::after{
   content: "";
   display: block;
   height: 12px;
   width: 12px;

   background-color: red;
   border-radius: 3px;
   opacity: 0;

   position: absolute;
   top: 3px;
   left: 3px;
   z-index: 2;
}

.radio__input4:checked + .radio__label4::before{
   background-color: black;
}
.radio__input4:checked + .radio__label4::after{
   opacity: 1;
}


/*пятый инпут*/
.radio5{
   position: relative;
   margin-bottom: 1rem;
}
.radio__input5{
   -webkit-appearance: none;
   appearance:none;
   position: absolute;
}
.radio__label5{
   padding-left: 25px;

   font-size: 1rem;
   color: #444;
   cursor: pointer;
}
.radio__label5::before {
   content: "";
   display:block;
   width:16px;
   height: 16px;

   border: 1px solid #ccc;
   background-color: #00d669;


   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;

   transition: background .1s linear, border .1s linear;
}
.radio__label5::after{
   content: "";
   display: block;
   height: 12px;
   width: 12px;

   background-color: #00d669;
   border-radius: 3px;
   opacity: 0;

   position: absolute;
   top: 3px;
   left: 3px;
   z-index: 2;
}

.radio__input5:checked + .radio__label5::before{
   background-color: black;
}
.radio__input5:checked + .radio__label5::after{
   opacity: 1;
}


/*шестой инпут*/
.radio6{
   position: relative;
   margin-bottom: 1rem;
}
.radio__input6{
   -webkit-appearance: none;
   appearance:none;
   position: absolute;
}
.radio__label6{
   padding-left: 25px;

   font-size: 1rem;
   color: #444;
   cursor: pointer;
}
.radio__label6::before {
   content: "";
   display:block;
   width:16px;
   height: 16px;

   border: 1px solid #ccc;
   background-color: #530cff;


   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;

   transition: background .1s linear, border .1s linear;
}
.radio__label6::after{
   content: "";
   display: block;
   height: 12px;
   width: 12px;

   background-color: #530cff;
   border-radius: 3px;
   opacity: 0;

   position: absolute;
   top: 3px;
   left: 3px;
   z-index: 2;
}

.radio__input6:checked + .radio__label6::before{
   background-color: black;
}
.radio__input6:checked + .radio__label6::after{
   opacity: 1;
}
